<script type="text/json" id="bootstrap">
  {
    "recipes": <%= @recipes.to_json(only: [:id, :name]).html_safe %>
  }
</script>


<div id="recipes"></div>

<%= content_for :app do -%>
    <script type="text/javascript">
     $(function () {
         App.initialize(JSON.parse($("#bootstrap").html()));
     });
  </script>
<% end %>
