<div class="row">
    <div class="six columns">
        <h2>Recipes</h2>
    </div>
    <div class="six columns">
        <a href="#new" class="button">Create A New Recipe</a>
    </div>
</div>

<ul id="recipe-list"></ul>
