
<div id="foods-input">
</div>

<form id="search-form">
    <input list="foods" placeholder="Search For Ingredients" id="query" autocomplete="off">
    <datalist id="foods">
    </datalist>
    <input type="submit" value="Add">
</form>

<a href="#" class="back">Go Back</a>
