<h1>New Recipe</h1>

<input type="text" placeholder="Recipe Name" name="name">

<div id="foods-input">
    <h4>Ingredients</h4>
    <ul class="selected-foods">

    </ul>
</div>

<div id="new-food">
    <input list="foods" placeholder="Search For Ingredients" id="query" autocomplete="off">
    <datalist id="foods">
    </datalist>
    <input type="button" value="Add" id="add">
</div>

<input type="Submit" value="Create Recipe" id="create">
    
<a href="#" class="back">Go Back</a>
