<div class="row">
    <div class="six columns">
        <h2>New Recipe</h2>
    </div>
    <div class="six columns">
        <a href="#" class="button">Go Back</a>
    </div>
</div>

<input type="text" placeholder="Recipe Name" name="name">

<div id="foods-input">
    <h4>Ingredients</h4>
    <ul class="selected-foods">
    </ul>
</div>

<div id="new-food" class="row">
    <div class="four columns">
    <input type="text" list="foods" placeholder="Search For Ingredients" id="query" autocomplete="off">
    <datalist id="foods">
    </datalist>
    </div>
    <div class="four columns">
        <input type="button" value="Add" id="add">
    </div>
</div>

        <input type="Submit" value="Create Recipe" id="create">

