<div class="row">
    <div class="five columns">
         <%= name %>
     </div>
     <div class="one columns">
         <%= amount %>
     </div>
     <div class="one columns">
         <%= weight %>
     </div>
</div>
