    <span><%= name %></span>
    <input type="text" placeholder="amount" class="food">
    <select class="weights">
        <% weights.forEach(function(weight) { %>
            <option value="<%=weight.id%>"><%=weight.description%></option>
        <% }); %>
    </select>
